<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="top">
    <div class="logo">
        <a href="#">企业服务事业群结算系统V1.0</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
           <!-- <a href="javascript:;">+新增</a>-->
            <dl class="layui-nav-child">
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">[[${session.user.realName}]]</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
<!--                    <a onclick="xadmin.open('','')">个人信息</a></dd>-->
                <a onclick="xadmin.open('修改密码','/sys-user/updatepassword',400,250)">修改密码</a></dd>
               <!-- <dd>
                    <a onclick="xadmin.open('切换帐号','')">切换帐号</a></dd>-->
                <dd>
                    <a href="./login">退出</a></dd>
            </dl>
        </li>
        <!--<li class="layui-nav-item to-index">
            <a href="#">前台首页</a></li>-->
    </ul>
</div>