<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:bolck th:include="common/header :: header('添加用户')" />
    <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}" />
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="id" th:value="${baWork.id}" th:if="${baWork!=null}" />
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label for="employeeId" class="layui-form-label">
                        <span class="x-red">*</span>员工编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="employeeId" name="employeeId"  th:value="${baWork.employeeId}" required="" lay-verify="employeeId" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="employeeName" class="layui-form-label">
                        <span class="x-red">*</span>员工姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="employeeName" name="employeeName" th:value="${baWork.employeeId}"  required="" lay-verify="employeeName" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="workDays" class="layui-form-label">
                        <span class="x-red">*</span>标准工作天数</label>
                    <div class="layui-input-inline">
                        <input type="text" id="workDays" name="workDays" th:value="${baWork.workDays}"  required="" lay-verify="workDays" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="attendanceDays" class="layui-form-label">
                        <span class="x-red">*</span>出勤天数</label>
                    <div class="layui-input-inline">
                        <input type="text" id="attendanceDays" name="attendanceDays" th:value="${baWork.attendanceDays}"  required="" lay-verify="attendanceDays" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="absenteeismDays" class="layui-form-label">
                        <span class="x-red">*</span>缺勤天数</label>
                    <div class="layui-input-inline">
                        <input type="text" id="absenteeismDays" name="absenteeismDays" th:value="${baWork.absenteeismDays}" required="" lay-verify="absenteeismDays" autocomplete="off"  placeholder="缺勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="floatPerformance" class="layui-form-label">
                        <span class="x-red">*</span>浮动绩效</label>
                    <div class="layui-input-inline">
                        <input type="text" id="floatPerformance" name="floatPerformance" th:value="${baWork.floatPerformance}"  required="" lay-verify="floatPerformance" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="bonus" class="layui-form-label">
                        <span class="x-red">*</span>奖金</label>
                    <div class="layui-input-inline">
                        <input type="text" id="bonus" name="bonus" th:value="${baWork.bonus}"  required="" lay-verify="bonus" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="checkWorkDays" class="layui-form-label">
                        <span class="x-red">*</span>核算工作天数</label>
                    <div class="layui-input-inline">
                        <input type="text" id="checkWorkDays" name="checkWorkDays" th:value="${baWork.checkWorkDays}"  required="" lay-verify="checkWorkDays" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="workDayOvertimeH" class="layui-form-label">
                        <span class="x-red">*</span>工作日加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="workDayOvertimeH" name="workDayOvertimeH" th:value="${baWork.workDayOvertimeH}" required="" lay-verify="workDayOvertimeH" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="weekendOvertimeH" class="layui-form-label">
                        <span class="x-red">*</span>周末加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="weekendOvertimeH" name="weekendOvertimeH" th:value="${baWork.weekendOvertimeH}"  required="" lay-verify="weekendOvertimeH" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="festivalOvertimeH" class="layui-form-label">
                        <span class="x-red">*</span>法定节假日加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="festivalOvertimeH" name="festivalOvertimeH" th:value="${baWork.festivalOvertimeH}"  required="" lay-verify="festivalOvertimeH" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="workDayOvertimeD" class="layui-form-label">
                        <span class="x-red">*</span>工作日加班（天）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="workDayOvertimeD" name="workDayOvertimeD" th:value="${baWork.workDayOvertimeD}"  required="" lay-verify="workDayOvertimeD" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="weekendOvertimeD" class="layui-form-label">
                        <span class="x-red">*</span>周末加班（天）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="weekendOvertimeD" name="weekendOvertimeD"  th:value="${baWork.weekendOvertimeD}" required="" lay-verify="weekendOvertimeD" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="festivalOvertimeD" class="layui-form-label">
                        <span class="x-red">*</span>法定节假日加班（天）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="festivalOvertimeD" name="festivalOvertimeD" th:value="${baWork.festivalOvertimeD}"  required="" lay-verify="festivalOvertimeD" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="remainderOvertimeLmH" class="layui-form-label">
                        <span class="x-red">*</span>上月剩余加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="remainderOvertimeLmH" name="remainderOvertimeLmH" th:value="${baWork.remainderOvertimeLmH}"  required="" lay-verify="remainderOvertimeLmH" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="monthOvertimeH" class="layui-form-label">
                        <span class="x-red">*</span>本月加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="monthOvertimeH" name="monthOvertimeH" th:value="${baWork.monthOvertimeH}"  required="" lay-verify="monthOvertimeH" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="takeHoursOff" class="layui-form-label">
                        <span class="x-red">*</span>调休（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="takeHoursOff" name="takeHoursOff"  th:value="${baWork.takeHoursOff}" required="" lay-verify="takeHoursOff" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="details" class="layui-form-label">
                        <span class="x-red">*</span>调休详情</label>
                    <div class="layui-input-inline">
                        <input type="text" id="details" name="details" th:value="${baWork.details}"  required="" lay-verify="details" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="remainderOvertimeMH" class="layui-form-label">
                        <span class="x-red">*</span>本月剩余加班（小时）</label>
                    <div class="layui-input-inline">
                        <input type="text" id="remainderOvertimeMH" name="remainderOvertimeMH" th:value="${baWork.remainderOvertimeMH}"  required="" lay-verify="remainderOvertimeMH" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="taxiFare" class="layui-form-label">
                        <span class="x-red">*</span>打车费</label>
                    <div class="layui-input-inline">
                        <input type="text" id="taxiFare" name="taxiFare" th:value="${baWork.taxiFare}"  required="" lay-verify="taxiFare" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="travelExpenses" class="layui-form-label">
                        <span class="x-red">*</span>差旅费</label>
                    <div class="layui-input-inline">
                        <input type="text" id="travelExpenses" name="travelExpenses"  th:value="${baWork.travelExpenses}" required="" lay-verify="travelExpenses" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="meals" class="layui-form-label">
                        <span class="x-red">*</span>餐费</label>
                    <div class="layui-input-inline">
                        <input type="text" id="meals" name="meals" th:value="${baWork.meals}"  required="" lay-verify="meals" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="telephoneBill" class="layui-form-label">
                        <span class="x-red">*</span>话费</label>
                    <div class="layui-input-inline">
                        <input type="text" id="telephoneBill" name="telephoneBill" th:value="${baWork.telephoneBill}"  required="" lay-verify="telephoneBill" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="overtimeAllowance" class="layui-form-label">
                        <span class="x-red">*</span>加班补助</label>
                    <div class="layui-input-inline">
                        <input type="text" id="overtimeAllowance" name="overtimeAllowance" th:value="${baWork.overtimeAllowance}"  required="" lay-verify="overtimeAllowance" autocomplete="off" placeholder="出勤天数" class="layui-input" maxlength="20">
                    </div>
                </div>

                <div class="layui-inline">
                    <label for="otherAddCost" class="layui-form-label">
                        <span class="x-red">*</span>其他加项费用</label>
                    <div class="layui-input-inline">
                        <input type="text" id="otherAddCost" name="otherAddCost" th:value="${baWork.otherAddCost}" required="" lay-verify="otherAddCost" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="otherSubCost" class="layui-form-label">
                        <span class="x-red">*</span>其他减项费用</label>
                    <div class="layui-input-inline">
                        <input type="text" id="otherSubCost" name="otherSubCost" th:value="${baWork.otherSubCost}"  required="" lay-verify="otherSubCost" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="remark" class="layui-form-label">
                        <span class="x-red">*</span>备注</label>
                    <div class="layui-input-inline">
                        <input type="text" id="remark" name="remark" th:value="${baWork.remark}"  required="" lay-verify="remark" autocomplete="off" placeholder="标准工作天数" class="layui-input" maxlength="20">
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <label for="add" class="layui-form-label"></label>
                <button class="layui-btn" id="add"  lay-filter="add" lay-submit="">保存</button>
            </div>
    </div>
    </form>
</div>
</div>
<script type="text/javascript" th:inline="javascript">
    // 表单操作
    layui.use(['form', 'layer','jquery','laydate'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer,
                laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#startTime'
            });
            laydate.render({
                elem: '#endTime'
            });
            form.render();
            //自定义验证规则
            // form.verify({
            //     contractNo: function(value) {
            //         if (value.length < 1) {
            //             return '合同编号至少得1个字符啊';
            //         }
            //     },
            //     invoiceIssuing: function (value) {
            //         if (value.length < 1) {
            //             return '开票抬头至少得1个字符啊';
            //         }
            //     },
            //     customerId: function (value) {
            //         if (value.length < 1) {
            //             return '请选择客户';
            //         }
            //     },
            //     baProjectGroupId: function (value) {
            //         if (value.length < 1) {
            //             return '请选择项目组';
            //         }
            //     },
            //     startTime: function (value) {
            //         if (value.length < 1) {
            //             return '请选择开始日期';
            //         }
            //     },endTime: function (value) {
            //         if (value.length < 1) {
            //             return '请选择结束日期';
            //         }
            //     }
            // });

            //监听提交
            form.on('submit(add)', function(data){
                    $.post('/ba-work-attendance/update',data.field,function (r) {
                        layer.alert(r.msg, {
                                icon : r.code == 'add_200' ? 6: 5
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    });

                return false;
            });

        });

    //form.render();
    // 检查邮箱是否存在
    function contractNoIsExist(contractNo, layer,mode) {
        var flag = true;
        $.ajaxSettings.async = false;
        $.get('/ba-contract/isexist/' + contractNo , null , function(r) {
            if (r.code == 1)  {
                flag = false;
                layer.alert(r.msg, {icon: 5});
            } else if (mode != 'submit' && r.code == 0) {
                layer.alert(r.msg, {icon: 6});
            }
        });
        $.ajaxSettings.async = true;
        return flag;
    }
</script>
</body>
</html>