<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:bolck th:include="common/header :: header('数据字典管理')" />
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <!--考勤月份-->
                    <div class="layui-form">
                        <div class="layui-inline ">
                            <span class="x-red"></span>考勤月份:
                        </div>
                        <div class="layui-inline"  >
                            <select id="years" name="years"  lay-filter="years" lay-verify="years" style="width: 100px;height: 30px;" >
                                <option th:each="year:${years}" th:value="${year}" th:text="${year}"></option>
                            </select>
                        </div>
                        <div class="layui-inline ">
                            <span class="x-red"></span>年
                        </div>
                        <div class="layui-inline">
                            <select id="months" name="months"  lay-filter="months" lay-verify="years" style="width: 100px;height: 30px;">
                                <option th:each="month:${months}" th:value="${month}" th:text="${month}"></option>
                            </select>
                        </div>
                        <div class="layui-inline ">
                            <span class="x-red"></span>月
                        </div>
                    </div>
                    <!--考勤时间点-->
                    <div class="layui-form" style="margin-top: 10px">
                        <div class="layui-inline layui-show-xs-block">
                            <span class="x-red"></span>结算时间点:
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="start" name="stopTime"  th:value="${stopTime}" readonly autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <span class="x-red"></span>结算完成时间点
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="end" name="completeTime" th:value="${compelteTime}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                 <!--考勤时间点-->

                    <div class="layui-form" style="margin-top: 10px;">
                        <div class="layui-inline layui-show-xs-block" style="margin-bottom: 8px;" >
                            <input type="text" id="keyword" name="keyword"  readonly='false' value="ddddddd" placeholder="请输入" autocomplete="off" class="layui-input" style="width: 150px">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" id="search"  onclick="search();return false;" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="margin-left: 300px;">
                            <lable class="x-red">
                                <span th:text="${tipCountMessage}"></span>
                            </lable>
                        </div>
                    </div>

                    <div class="layui-form" style="margin-top: 10px;">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolBarHead">
    <div class="layui-btn-container">
        <button type="button" id="import" data-type="import" class="layui-btn">批量导入</button>
        <button type="button" id="applymodify" data-type="applymodify" class="layui-btn " lay-demo="reload">申请修改</button>
        <button type="button" id="commmit" data-type="commmit" class="layui-btn layui-btn-normal"  lay-demo="reload">提交</button>
        <button type="button" id="generate" data-type="generate" class="layui-btn layui-btn-normal "  lay-demo="reload">生成考勤记录</button>
    </div>
</script>
<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script type="text/html" id="idselect">
    <input type="checkbox" name="id" value="{{d.id}}"  lay-filter="idselect">
</script>

<script type="text/javascript"  th:inline="javascript">
    layui.use(['table','form','upload','jquery'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
        var upload = layui.upload;
        var $ = layui.jquery;
        var projectTreeObj = window.parent.layui.dtree.getNowParam("projectTree");
        var projectId = projectTreeObj.nodeId;

        form.render();

        table.render({
            elem: '#dataTable',
            url: '/ba-work-attendance/pagedata',
            page: true,
            title: '考勤记录',
            height: 'full-210',
            toolbar: '#toolBarHead',
            defaultToolbar: ['filter', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }],
            where:{
                checkUserId:[[${checkUserId}]]
                ,projectId: projectId
                ,yearValue:$('#years').children('option:selected').val()
                ,monthValue:$('#months').children('option:selected').val()
            },
             //id: 'userData',
            cols: [[
                {field:'id',type:'checkbox',fixed:'left'},
                {field:'subStatus',title:'subStatus',hide:true},
                {field:'employeeId',title:'员工编号',align:'center'},
                // {field:'employeeName',title:'员工姓名',align:'center'},
                {field:'workDays',title:'标准工作天数',align:'center'},
                {field:'absenteeismDays',title:'缺勤天数',align:'center'},
                {field:'floatPerformance',title:'浮动绩效',align:'center'},
                {field:'bonus',title:'奖金',align:'center'},
                {field:'checkWorkDays',title:'核算工作天数',align:'center'},
                {field:'workDayOvertimeH',title:'工作日加班（小时）',align:'center'},
                {field:'weekendOvertimeH',title:'周末加班（小时）',align:'center'},
                {field:'festivalOvertimeH',title:'法定节假日加班（小时）',align:'center'},
                {field:'工作日加班（天）',title:'工作日加班（天）',align:'center'},
                {field:'weekendOvertimeD',title:'周末加班（天）',align:'center'},
                {field:'festivalOvertimeD',title:'法定节假日加班（天）',align:'center'},
                {field:'remainderOvertimeLmH',title:'上月剩余加班（小时）',align:'center'},
                {field:'monthOvertimeH',title:'本月加班（小时）',align:'center'},
                {field:'takeHoursOff',title:'调休（小时）',align:'center'},
                {field:'details',title:'调休详情',align:'center'},
                {field:'remainderOvertimeMH',title:'本月剩余加班（小时）',align:'center'},
                {field:'taxiFare',title:'打车费',align:'center'},
                {field:'travelExpenses',title:'差旅费',align:'center'},
                {field:'meals',title:'餐费',align:'center'},
                {field:'telephoneBill',title:'话费',align:'center'},
                {field:'overtimeAllowance',title:'加班补助',align:'center'},
                {field:'otherAddCost',title:'其他加项费用',align:'center'},
                {field:'otherSubCost',title:'其他减项费用',align:'center'},
                {field:'remark',title:'备注',align:'center'},
                {fixed:'right',title:'操作',align:'center',toolbar:'#toolBar',width:60}
            ]]
           ,done:function(res,curr,count) {
               //如果是异步请求数据方式，res即为你接口返回的信息。
               //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
               for(var i=0;i<count;i++) {
                   if(res.data[i].subStatus == 'S') {
                       $($(".layui-table-body.layui-table-main tr")[i]).css("background-color", "#1E9FFF");
                   }
               }
           }
        });

        //按钮事件绑定
        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        var $ = layui.$, active = {
            reload: function(){
                var keyword = $('#keyword');
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keyword: keyword.val()
                    }
                }, 'data');
            },

            //提交考勤记录
            commmit:function () {
                commitWorkAttendanceOper('/ba-work-attendance/commit/',projectId,table,layer);
            },
            //申请修改
            applymodify:function () {
                //项目负责人AM
                var checkUserId = [[${checkUserId}]];
                var totalApplyCount = [[${totalApplyCount}]];
                var applyCount = [[${applyCount}]];
                if(applyCount>totalApplyCount) {
                    layer.msg('您已经超过本月修改申请的次数',{icon:5});
                    return;
                }
                applyModify('申请修改','/ba-work-attendance/applymodify/'+checkUserId,projectId,table,layer,500,450);
            },
            //生成考勤记录
            generate:function (){
                if(!judgeStopTime(projectId)) {
                    layer.msg('在结算周期内不可以生成考勤记录',{icon:5});
                    return;
                }
            },
            import:function (){
                if(!judgeStopTime(projectId)) {
                    layer.msg('在结算周期内不可以批量导入,请在结算周期前导入',{icon:5});
                    return;
                } else {
                    $('#import').attr("id",'import2');
                    upload.render({
                        elem: '#import2' //绑定元素
                        ,url: '/file/upload/workattendance' //上传接口
                        ,method: 'POST'
                        ,accept: 'file'
                        ,exts: 'xls|xlsx|csv' //只允许上传excel文件
                        ,size: 200*1024 //文件大小
                        ,before: function(obj){
                        }
                        ,done: function(res){//上传完毕回调
                            return layer.msg(res.msg,{icon: res.code == '9006' ? 6 : 5});
                        }
                        ,error: function(){//请求异常回调
                            layer.msg('网络异常,文件上传失败,请重新导入！',{icon:5});
                        }
                    });
                }
            }
        };

        // 监听工具栏
        table.on('tool(dataTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'edit'){
                //判断考勤完成时间
                if(!judgeCompleteTime(projectId)) {
                    layer.msg('超过考勤结算周期内无法修改',{icon:5});
                    return;
                }
                //判断考勤结算时间
                if(!judgeStopTime(projectId)) {
                    layer.msg('在结算周期内修改考勤必须提交申请',{icon:5});
                    return;
                }
                //判断修改状态

                //判断提交状态
                if(checkSubStatus(data.subStatus,'S')) {
                    //layer.msg('已提交修改申请的数据请到【考勤申请修改记录】中修改',{icon:5});
                    layer.msg('已提交的数据请通过【申请修改】来操作修改',{icon:5});
                    return;
                }

                xadmin.open('编辑考勤信息','/ba-work-attendance/edit/'+ data.id,800,450);
            }
        });

        //选择月份重新加载数据
        $('#months').change(function () {
            var monthvalue=$(this).children('option:selected').val();
            //执行重载
            table.reload('dataTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                        monthValue:monthvalue
                }
            }, 'data');

        });


        //执行上传



    });
    //////////////////////////////JS////////////////////////////////

    //申请修改记录
    function applyModify(title,url,projectId,table,layer,w,h) {
        var checkStatus = table.checkStatus('dataTable')
            ,data = checkStatus.data;
        var ids2=[];
        if (data.length == 0) {
            layer.alert('请先选择要提交的考勤记录',{icon : 5});
            return ;
        }

        //结算时间之前  //未提交的提示不需要申请修改
        if(judgeStopTime(projectId)) {
            if( getSubStatus(data,'N').length == data.length){
                layer.msg("在结算时间之前,未提交的数据,可以直接编辑",{icon:6});
                return;
            } else if(getSubStatus(data,'S').length < data.length) {
                var noSubmitData=getSubStatus(data,'N');
                layer.msg("未提交过的数据【"+noSubmitData+"】可以直接编辑",{icon:6});
                return;
            } else if(getSubStatus(data,'S').length == data.length) {
                //提交的数据
                layer.msg("在结算时间之前,已经提交的数据可以申请修改",{icon:6});
                //判断当月修改的次数
                for(var i=0;i<data.length;i++) {
                    //ids+=data[i].id+",";
                    ids2[i]=data[i].id;
                }
                xadmin.open(title,url + "/"+ ids2,w,h);
            }
        } else{
            //超过考勤时间不可以提交
            layer.msg('超过考勤结算时间点,无法提交考勤记录', {icon: 5});
        }

        //考勤结算周期内
         if(!judgeStopTime(projectId) && judgeCompleteTime(projectId)){
             //判断当月修改的次数
             //   do...
            for(var i=0;i<data.length;i++) {
                //ids+=data[i].id+",";
                ids2[i]=data[i].id;
            }
            xadmin.open(title,url + "/"+ ids2,w,h);
            return;
         }
        //结算时间之前,已经提交的可以修改

        //进入结算时间的 判断是否在结算时间之内

        //判断当月修改的次数
        // for(var i=0;i<data.length;i++) {
        //     //ids+=data[i].id+",";
        //     ids2[i]=data[i].id;
        // }
        // xadmin.open(title,url + "/"+ ids2,w,h);
    }
    //提交考勤记录
    function commitWorkAttendanceOper( url, projectId,table,layer) {
        var checkStatus = table.checkStatus('dataTable')
            ,data = checkStatus.data;
        var ids2=[];
        var compelteTime=[[${compelteTime}]];
        var stopTime=[[${stopTime}]];
        if (data.length == 0) {
            layer.alert('请先选择要提交的考勤记录',{icon : 5});
            return ;
        }

        //判断是否在考勤结算时间点提交
        if(!judgeCompleteTime(projectId)) {
            //超过考勤时间不可以提交
            layer.msg('超过考勤结算时间点,无法提交考勤记录', {icon: 5});
            return;
        } else if(getSubStatus(data,'S').length > 0) {
            //包含已经提交的数据不可以提交
            var SubmitData=getSubStatus(data,'S');
            layer.msg("提交过的数据【"+SubmitData+"】不要重复提交",{icon:6});
            return;
        }
        for(var i=0;i<data.length;i++) {
            ids2[i]=data[i].id;
            //存在修改的记录，不要重复提交
        }

        layer.open({
            content: '确认提交考勤记录数据？'
            ,btn: ['确定','取消']
            ,yes: function(index){
                // 发送ajax请求  提交考勤记录数据
                $.ajax({
                    url:url+ids2,
                    type:'put',
                    success: function(r){
                        if("commit_200"==r.code){
                            layer.close(index);
                            layer.msg('提交成功', {icon: 6});
                            //执行重载
                            table.reload('dataTable', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            }, 'data');
                        } else {
                            layer.msg('提交失败', {icon: 5});
                        }
                    }
                });
            }
            ,btn2: function(index){
                //按钮【按钮二】的回调
                layui.table.render();
                layer.close(index);
            }
            ,cancel: function(){
                //右上角关闭回调
                layui.table.render();
            }
        });

    }

    //根据提交的状态S N获得对应的数组列表
    function getSubStatus(data,subStatusValue) {
        var idSubStatus=[];
        var j=0;
        for(var i=0;i<data.length;i++) {
            //提交状态
            if(checkSubStatus(data[i].subStatus,subStatusValue)){
                idSubStatus[j++]=data[i].employeeId;
            }
        }
        return idSubStatus;
    }
    //检查提交的状态S 返回true
    function checkSubStatus(val,subStatusValue) {
        if(val == subStatusValue){
            return true;
        } else
            return  false;
    }
    //检查是否在结算时间之间
    function judgeStopTime(projectId){
        var flag=false;
        $.ajax({
            type:'get'
            ,url:'/ba-time-param/judge/workattendance/stoptime/'+projectId
            ,async:false //同步处理
            ,success:function(r){
                if(r.code=='1') {
                    flag = false;
                }
                else {
                    flag = true;
                }
            }
        });
        return flag;
    }
    //检查是否在结算时间之间
    function judgeCompleteTime(projectId){
        var flag=false;
        $.ajax({
            type:'get'
            ,url:'/ba-time-param/judge/workattendance/completetime/'+projectId
            ,async:false //同步处理
            ,success:function(r){
                if(r.code=='1') {
                    flag = false;
                }
                else {
                    flag = true;
                }
            }
        });
        return flag;
    }
    //获得考勤日期
    function judgeDate(projectId) {
        $.ajax({
            type:'get'
            ,url:'/ba-time-param/judge/workattendance/date/'+projectId
            ,success:function(r){
                if(r.code=='1')
                    return true;
                else
                    return false;
            }
        });
    }


    function search() {
        alert('search:'+ $("#keyword").val());
    }
</script>
</html>