<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:bolck th:include="common/header :: header('数据字典管理')" />
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <!--考勤月份-->
                    <div  style="margin-left: 30%;">
                        <div class="layui-inline ">
                            <span class="x-red"></span>考勤月份:
                        </div>
                        <div class="layui-inline"  >
                            <select id="years" name="years"  lay-filter="years" lay-verify="years" style="width: 100px;height: 30px;" >
                                <option th:each="year:${years}" th:value="${year}" th:text="${year}"></option>
                            </select>
                            </div>
                            <div class="layui-inline ">
                                <span class="x-red"></span>年
                            </div>
                        <div class="layui-inline">
                            <select id="months" name="months"  lay-filter="months" lay-verify="years" style="width: 100px;height: 30px;">
                                <option th:each="month:${months}" th:value="${month}" th:text="${month}"></option>
                            </select>
                        </div>
                        <div class="layui-inline ">
                            <span class="x-red"></span>月
                        </div>
                    </div>
                    <div style="margin-left: 20%; padding-top: 20px;">
                        <div class="layui-inline layui-show-xs-block">
                            <lable class="x-red">本月您已经修改1次,还有2次修改机会</lable>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <span class="x-red"></span>结算时间点:
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="start" name="stopTime"  th:value="${stopTime}" readonly autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <span class="x-red"></span>结算完成时间点
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="end" name="completeTime" th:value="${compelteTime}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolBarHead">
    <div class="layui-btn-container">
        <button type="button" id="edit" data-type="edit" class="layui-btn"><i class="layui-icon"></i>编辑</button>
        <button type="button" id="import" data-type="import" class="layui-btn">批量导入</button>
        <button type="button" id="applymodify" data-type="applymodify" class="layui-btn " lay-demo="reload">申请修改</button>
        <button type="button" id="commmit" data-type="commmit" class="layui-btn layui-btn-normal "  lay-demo="reload">提交</button>
        <button type="button" id="generate" data-type="generate" class="layui-btn layui-btn-normal "  lay-demo="reload">生成考勤记录</button>
        <div class="layui-form layui-col-space5" style="display:inline;float: right;">
            <div class="layui-inline">
                <lable class="x-red">本月您已经修改1次,还有2次修改机会</lable>
            </div>
            <div class="layui-inline layui-show-xs-block" style="margin-bottom: 8px;" >
                <input type="text" id="keyword" name="keyword"  readonly='false' value="ddddddd" placeholder="请输入" autocomplete="off" class="layui-input" style="width: 150px">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" id="search"  onclick="search();return false;" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="idselect">
    <input type="checkbox" name="id" value="{{d.id}}"  lay-filter="idselect">
</script>
<script type="text/javascript"  th:inline="javascript">
    layui.use(['table','form','upload','jquery'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
        var upload = layui.upload;
        var $ = layui.jquery;
        var obj = window.parent.layui.dtree.getNowParam("projectTree");

       var table1= table.render({
            elem: '#dataTable',
            url: '/ba-work-attendance/pagedata',
            // toolbar: '',
           // id:"tableReload",
            page: true,
            title: '考勤记录',
            height: 'full-210',
            toolbar: '#toolBarHead',
            defaultToolbar: ['filter', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }],
            where:{
                checkUserId:[[${checkUserId}]]
                ,projectId: obj.nodeId
                ,yearValue:$('#years').children('option:selected').val()
                ,monthValue:$('#months').children('option:selected').val()
            },
             //id: 'userData',
            cols: [[
                {field:'id',type:'checkbox',fixed:'left'},
                {field:'employeeId',title:'员工编号',align:'center',fixed:'left'},
                // {field:'employeeName',title:'员工姓名',align:'center'},
                {field:'workDays',title:'标准工作天数',align:'center'},
                {field:'absenteeismDays',title:'缺勤天数',align:'center'},
                {field:'floatPerformance',title:'浮动绩效',align:'center'},
                {field:'bonus',title:'奖金',align:'center'},
                {field:'checkWorkDays',title:'核算工作天数',align:'center'},
                {field:'workDayOvertimeH',title:'工作日加班（小时）',align:'center'},
                {field:'weekendOvertimeH',title:'周末加班（小时）',align:'center'},
                {field:'festivalOvertimeH',title:'法定节假日加班（小时）',align:'center'},
                {field:'工作日加班（天）',title:'工作日加班（天）',align:'center'},
                {field:'weekendOvertimeD',title:'周末加班（天）',align:'center'},
                {field:'festivalOvertimeD',title:'法定节假日加班（天）',align:'center'},
                {field:'remainderOvertimeLmH',title:'上月剩余加班（小时）',align:'center'},
                {field:'monthOvertimeH',title:'本月加班（小时）',align:'center'},
                {field:'takeHoursOff',title:'调休（小时）',align:'center'},
                {field:'details',title:'调休详情',align:'center'},
                {field:'remainderOvertimeMH',title:'本月剩余加班（小时）',align:'center'},
                {field:'taxiFare',title:'打车费',align:'center'},
                {field:'travelExpenses',title:'差旅费',align:'center'},
                {field:'meals',title:'餐费',align:'center'},
                {field:'telephoneBill',title:'话费',align:'center'},
                {field:'overtimeAllowance',title:'加班补助',align:'center'},
                {field:'otherAddCost',title:'其他加项费用',align:'center'},
                {field:'otherSubCost',title:'其他减项费用',align:'center'},
                {field:'remark',title:'备注',align:'center'}
            ]]
        });

        var $ = layui.$, active = {
            reload: function(){
                var keyword = $('#keyword');
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keyword: keyword.val()
                        ,month:15
                    }
                }, 'data');
            },
            edit:function () {
                checkBoxCheckedOper('修改考勤记录','/ba-work-attendance/edit/',table,layer,800,450);
            },
            applymodify:function () {
                //判断当月修改的次数

                //项目负责人AM
                var checkUserId = [[${checkUserId}]];
                applymodifyOper('申请修改','/ba-work-attendance/applymodify/'+checkUserId,table,layer,500,450);
            },
            commmit:function () {
                alert('commmit');
            }
        };

        //选择月份重新加载数据
        $('#months').change(function () {
            var monthvalue=$(this).children('option:selected').val();
            //执行重载
            table.reload('dataTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                        monthValue:monthvalue

                }
            }, 'data');

        });


        //执行上传
        upload.render({
            elem: '#import' //绑定元素
            ,url: '/file/upload/workattendance' //上传接口
            ,method: 'POST'
            ,accept: 'file'
            ,exts: 'xls|xlsx|csv' //只允许上传excel文件
            ,size: 200*1024 //文件大小
            ,before: function(obj){

            }
            ,done: function(res){//上传完毕回调
                return layer.msg(res.msg,{icon: res.code == '9006' ? 6 : 5});
            }
            ,error: function(){//请求异常回调
                layer.msg('网络异常,文件上传失败,请重新导入！',{icon:5});
            }
        });
        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        form.render();


        // 监听工具栏
        table.on('tool(dataTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除【 '+ data.contractNo + '】么?', function(index){
                    exportparam_del(data.id);
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                xadmin.open('编辑合同','/ba-contract/toAddorUpdate/update/'+ data.id,600,550);

            }
        });
    });
    //申请修改记录
    function applymodifyOper(title, url, table, layer,w,h) {
        var checkStatus = table.checkStatus('dataTable')
            ,data = checkStatus.data;
        //var checkUserId=[[${checkUserId}]];
        //var ids="";
        var ids2=[];
        if (data.length == 0) {
            layer.alert('请先选择一行',{icon : 5});
            return ;
        }
        for(var i=0;i<data.length;i++) {
            //ids+=data[i].id+",";
            ids2[i]=data[i].id;
        }
        //xadmin.open(title,url + ids2+"/"+checkUserId,w,h);
        xadmin.open(title,url + "/"+ ids2,w,h);
    }
    /** 复选框选中操作 */
    function checkBoxCheckedOper(title, url, table, layer,w,h) {
        var checkStatus = table.checkStatus('dataTable')
            ,data = checkStatus.data;
        if (data.length == 0) {
            layer.alert('请先选择一行',{icon : 5});
        }else if (data.length > 1) {
            layer.alert('不能多选啊，只能选择一行',{icon : 5});
        }else if(data.length == 1) {
            //xadmin.open(title,url + data[0].id,w,h);
            // 项目组只有处于审核通过状态才能操作
            // if (data[0].checkStatus == passCheckStatus) {
                 xadmin.open(title,url + data[0].id,w,h);
            // } else {
            //     layer.msg("项目组只有处于【审核通过】状态才能" + title,{icon:5});
            // }
        }
    }

    function search() {

        alert('search:'+ $("#keyword").val());
    }
</script>
</html>