<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:bolck th:include="common/header :: header('员工详情')" />
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/home">首页</a>
            <a href="">项目组管理</a>
            <a>项目组</a>
            <a><cite>员工详情</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5" onsubmit="return false">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="keyword" name="keyword"  placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" id="search" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>

                                <div class="layui-inline layui-show-xs-block" style="float: right">
                                    <button class="layui-btn layui-btn-warm"  lay-submit="" ><i class="layui-icon"></i>结算时间点：<span th:text="${stopTimeParam}"></span></button>
                                    <button class="layui-btn layui-btn-warm"  lay-submit="" ><i class="layui-icon"></i>结算完成时间点：<span th:text="${completeTimeParam}"></span></button>
                                </div>
                            </form>
                        </div>

                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{/js/common/common.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/emp/emp.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/html" id="toolBarHead">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="apply">申请修改</button>
            <!-- <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="submit">提交</button>-->
        </div>
    </script>
    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-xs" lay-event="apply">申请修改</a>
    </script>
    <script type="text/javascript"  th:inline="javascript">
        var pgId = [[ ${pgId} ]];
        var applyUpdateStatusA = [[ ${APPLY_UPDATE_STATUS_A} ]];
      layui.use(['laydate','table','form','element'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
        table.render({
           elem: '#dataTable',
           url: '/ba-employee/ent-pagedata',
           page: true,
           title: '入场员工详情表',
           height: 'full-210',
           toolbar: '#toolBarHead',
           defaultToolbar: ['filter', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
              title: '提示'
              ,layEvent: 'LAYTABLE_TIPS'
              ,icon: 'layui-icon-tips'
          }],
          where: {
            pgId : [[ ${pgId} ]]
          },
           done: function(res,curr,count) {
               // console.log(res.data[0].applyUpdateStatus);
               //alert(res.data.length);
               var that = this.elem.next();
               res.data.forEach(function (item, index) {
                   if (item.applyUpdateStatus == applyUpdateStatusA) {
                       var tr = $("tr[data-index='" + index + "']");
                       tr.attr({"style":"color:red;font-weight:bold"});
                        var td = $(tr.find("td[data-field='id']"));
                        var checkbox = $(td.find("input[type='checkbox']"));
                        checkbox.attr("disabled",true);
                        checkbox.remove();
                   }
               });
           },
           cols: [
                    [
                       {field:'id',type:'checkbox',fixed:'left'},
                       {field:'empName',title:'姓名',align:'center',fixed:'left'},
                       {field:'code',title:'员工编号',align:'center'},
                       {field:'entranceTime',title:'入场时间',align:'center',templet:'<div>{{layui.util.toDateString(d.entranceTime, "yyyy-MM-dd")}}</div>'},
                       {field:'responsiblePerson',title:'客户负责人',align:'center'},
                       {field:'rateEmailFilename',title:'客户确认rate邮件',align:'center',templet:operImg,hide:true},
                        {field:'sendCopyEmail',title:'抄送邮件地址',align:'center',hide:true},
                       {field:'pos_level_input',title:'级别',align:'center',hide:true},
                        {field:'priceMonth',title:'服务费(月)',align:'center',hide:true},
                        {field:'unitContent',title:'单位',align:'center',hide:true},
                        {field:'priceDay',title:'服务费(天)',align:'center',hide:true},
                        {field:'place',title:'员工所在地',align:'center',hide:true},
                        {field:'position',title:'岗位',align:'center',hide:true},
                        {field:'workAttendencePerson',title:'考勤负责人',align:'center',hide:true},
                        {field:'claimExpensePerson',title:'报销接口人',align:'center',hide:true},
                        /*{field:'applyUpdateStatus',title:'申请状态',align:'center',hide:true},*/
                       {field:'applyUpdateStatusContent',title:'申请状态',align:'center',hide:true}
                      /* {fixed:'right',title:'操作',align:'center',toolbar:'#toolBar',width:100}*/
                    ]
                ]
        });
          var $ = layui.$, active = {
              reload: function(){
                  var keyword = $('#keyword');
                  //执行重载
                  table.reload('dataTable', {
                      // method : 'post',
                      page: {
                          curr: 1 //重新从第 1 页开始
                      }
                      ,where: {
                              keyword: keyword.val(),
                              pgId: [[ ${pgId} ]]
                      }
                  }, 'data');
              }
          };
          $('.layui-btn').on('click', function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });

          // 监听工具栏
         table.on('toolbar(dataTable)', function(obj){
             var checkStatus = table.checkStatus(obj.config.id);
             var data = checkStatus.data;
             switch (obj.event) {
                 case 'apply' :
                     var ids = createIds(data);
                     apply(data,layer,'/ba-employee/apply/'+ ids + '/' + pgId);
                     break;
             };
          });

         function setDisabled(data) {
             // alert(1);
             //console.log(data);
         }
      });

    </script>
</html>