<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:bolck th:include="common/header :: header('添加用户')" />
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form" >
        <input th:type="hidden" name="_method" value="put" th:if="${mode.equals('update')}" />
        <input type="hidden" name="id" th:value="${sysPermission.id}" th:if="${mode.equals('update')}" />
        <input type="hidden" name="parentId" th:value="${sysPermission.parentId}" />
    <div class="layui-row" layui-form-panel lay-filter="show_form">

            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label for="parentContent" class="layui-form-label">
                        <span class="x-red">*</span>上级菜单</label>
                    <div class="layui-input-inline">
                        <input type="text" id="parentContent" name="parentContent" readonly="true" th:value="${mode.equals('update')}?${sysPermission.parentContent}:${sysPermission.parentContent}" required="true" lay-verify="parentId" autocomplete="off" class="layui-input" maxlength="20"></div>
                </div>

                <div  class="layui-form-item">
                    <label  for="pCode" class="layui-form-label">
                        <span class="x-red">*</span>菜单编码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="pCode" name="pCode" th:readonly="${mode.equals('update')}" th:value="${mode.equals('update')}?${sysPermission.pCode}:${sysPermission.pCode}" required="" lay-verify="pCode" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <button type="button" id="pCodeIsExist" th:if="${mode.equals('add')}" lay-filter="pCodeIsExist" class="layui-btn layui-btn-primary layui-btn-xs">检查菜单代码是否可用</button>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>菜单名称添加后不可修改
                    </div>
                </div>
                <label for="pName" class="layui-form-label">
                    <span class="x-red">*</span>菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="pName" name="pName" th:value="${mode.equals('update')}?${sysPermission.PName}" required="" lay-verify="pName" autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>菜单名称
                </div>
            </div>
            <div class="layui-form-item">
                <label  for="url" class="layui-form-label">
                    <span class="x-red">*</span>链接url</label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" th:value="${mode.equals('update')}?${sysPermission.url}" required="" lay-verify="url" autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>权限控制标识 </div></div>

            <div class="layui-form-item layui-form-text">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>类型
                </label>
                <div class="layui-input-block">
                    <input type="radio" name="type" th:each="sysDataDic:${sysDataDicVos}" th:value="${sysDataDic.dicCode}" th:title="${sysDataDic.dicContent}" th:checked="${sysDataDic.dicCode}==${sysPermission.type}">
                </div>
          </div>
            <div class="layui-form-item">
                <label for="permission" class="layui-form-label">
                    <span class="x-red">*</span>权限标识</label>
                <div class="layui-input-inline">
                    <input type="text" id="permission" name="permission" th:value="${mode.equals('update')}?${sysPermission.permission}" required="" lay-verify="permission" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="sort" class="layui-form-label">
                    <span class="x-red">*</span>显示顺序</label>
                <div class="layui-input-inline">
                    <input type="text" id="sort" name="sort" th:value="${mode.equals('update')}?${sysPermission.sort}" required="" lay-verify="sort" autocomplete="off" class="layui-input"></div>
            </div>
        <div class="layui-form-item">
            <label for="icon" class="layui-form-label">
                <span class="x-red">*</span>菜单图标</label>
            <div class="layui-input-inline">
                <input type="text" id="icon" name="icon" th:value="${mode.equals('update')}?${sysPermission.icon}" required="" lay-verify="icon" autocomplete="off" class="layui-input"></div>
        </div>
            <div class="layui-form-item">
                <label for="add" class="layui-form-label"></label>
                <button class="layui-btn" id="add" lay-filter="add" th:text="${mode.equals('add')}?'增加' : '修改'" lay-submit="">增加</button></div>

    </div>
    </form>
</div>
<script th:src="@{/js/common/common.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use('form', function(){
        var form = layui.form;
       var mode=[[${mode}]];

        form.render();
        //自定义验证规则
        form.verify({
            pCode: function(value) {
                if (value.length < 1) {
                    return '菜单编码至少得1个字符啊';
                }
            },
            pName: function (value) {
                if (value.length < 1) {
                    return '菜单名称至少得1个字符啊';
                }
            },
            url: function (value) {
                if (value.length < 1) {
                    return '链接url地址至少得1个字符啊';
                }
            },
            // permission: function (value) {
            //     if (value.length < 1) {
            //         return '权限标识至少得1个字符啊';
            //     }
            // },
            sort:function (value) {
                if (!/^\d+$/.test(value.trim())) {
                    return '显示顺序至少1位，且只能是数字';
                }
            }
        });
        $('#pCodeIsExist').click(function () {
                var pCode = $('#pCode').val();
                if(pCode.trim().length==0) {
                    layer.msg('菜单编码至少得1个字符',{icon:5});
                    return false;
                }
            checkCodeIsExist('/sys-permission/isexist/',pCode,layer,'');
            }
        );
        //监听提交
        form.on('submit(add)', function(data){
            if("add"==mode && checkCodeIsExist('/sys-permission/isexist/',$("#pCode").val(),layer,'submit')) {
                $.post('/sys-permission/add',data.field,function (r) {
                        var pid=$("#parentId").val();
                        if(r.code=='add_200') {
                            var obj1 = window.parent.layui.dtree.getNowParam("demoTree");
                            //alert(window.parent.layui.find("demoTree"));
                            //window.parent.layui.dtree.changeTreeNodeAdd("refresh");
                            window.parent.layui.dtree.reload("demoTree",{
                                url: "/sys-permission/dtree/list/pagedata",
                                //request: {id:pid},
                                method: "post",
                                initLevel: "2",
                                success: function(data, $obj, first){
                                    var id = r.data.id;
                                    window.parent.layui.$("demoTree").find("div[dtree-click='itemNodeClick'][dtree-id='demoTree'][data-id='" + id + "']").click();
                                }
                            });
                            layer.msg('添加成功', {icon: 6});
                        } else {
                            layer.msg('添加失败', {icon: 5});
                        }
                    }
                );
            } else if("update"==mode) {
                $.post('/sys-permission/update',data.field,function (r) {
                        if(r.code=='edit_200') {
                            window.parent.layui.dtree.reload("demoTree",{
                                url: "/sys-permission/dtree/list/pagedata",
                                //request: {id:pid},
                                method: "post",
                                initLevel: "2",
                                done: function(data, $obj, first){
                                   // window.parent.layui.dtree.openTo(30,true);
                                    var parentId = r.data.parentId;
                                    var id= r.data.id;
                                    var parentNode = window.parent.layui.$("#demoTree").find("div[dtree-click='itemNodeClick'][dtree-id='demoTree'][data-id='" + parentId + "']");
                                    //console.log(data);
                                    //console.log($obj);
                                    // alert(parentNode);
                                    console.dirxml(parentNode);
                                    // alert(parentNode.childElementCount);
                                    // alert(parentNode.length);
                                    // alert(1);
                                    window.parent.layui.$("#demoTree").find("div[dtree-click='itemNodeClick'][dtree-id='demoTree'][data-id='" + id + "']").click();
                                }
                            });
                            layer.msg("修改成功", {icon: 6});

                        } else {
                            layer.msg("修改失败", {icon: 5});
                        }
                    }
                );
            }

            return false;
        });
    });
</script>
</body>

</html>