<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:bolck th:include="common/header :: header('用户管理')" />
        <link rel="stylesheet" th:href="@{/css/ztree/demo.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/ztree/zTreeStyle/zTreeStyle.css}" type="text/css">
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/home">首页</a>
            <a href="">系统管理</a>
            <a>
              <cite>功能管理</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5" onsubmit="return false">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="keyword" name="keyword"  placeholder="请输入功能名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" id="search" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('添加功能','/sys-permission/toadd',600,500)"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <div style="width:40%; height:auto; float:left; display:inline">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                            <div style="width:60%; height:auto; float:left; display:inline">
                                <div class="layui-fluid">
                                    <div class="layui-row">
                                        <form class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-form-item">
                                                    <label for="realName" class="layui-form-label">
                                                        <span class="x-red">*</span>姓名</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" id="realName" name="realName" required="true" lay-verify="realName" autocomplete="off" class="layui-input" maxlength="20"></div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="employeeNo" class="layui-form-label">
                                                        <span class="x-red">*</span>员工编号</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" id="employeeNo" name="employeeNo" required="" lay-verify="employeeNo" autocomplete="off" class="layui-input"></div>
                                                </div>
                                                <label for="L_email" class="layui-form-label">
                                                    <span class="x-red">*</span>邮箱</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input"></div>
                                                <div class="layui-form-mid layui-word-aux">
                                                    <span class="x-red">*</span>将会成为登陆用户名</div></div>
                                            <div class="layui-form-item">
                                                <label for="password" class="layui-form-label">
                                                    <span class="x-red">*</span>密码</label>
                                                <div class="layui-input-inline">
                                                    <input type="password" id="password" name="passord" required="" lay-verify="password" autocomplete="off" class="layui-input"></div>
                                                <div class="layui-form-mid layui-word-aux">
                                                    <span class="x-red">*</span>8到16个字符&nbsp; <button type="button" onclick="setPass()" class="layui-btn layui-btn-primary layui-btn-xs">使用默认密码</button></div></div>
                                            <div class="layui-form-item">
                                                <label for="city" class="layui-form-label">
                                                    <span class="x-red">*</span>城市</label>
                                                <div class="layui-input-inline">
                                                    <input type="city" id="repassword" name="city" required="" lay-verify="city" autocomplete="off" class="layui-input"></div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label for="mobile" class="layui-form-label">
                                                    <span class="x-red">*</span>手机</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="mobile" name="mobile" required="" lay-verify="phone" autocomplete="off" class="layui-input"></div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label for="add" class="layui-form-label"></label>
                                                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script type="text/javascript" th:src="@{/js/ztree/jquery-1.4.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/ztree/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/js/ztree/jquery.ztree.exedit.js}"></script>
    <script type="text/javascript">

        $(function() {
            var zTreeObj;
// zTree 的参数配置，
            var setting = {
                view: {
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom,
                    selectedMulti: false
                },
                async: {
                    enable: true,//是否异步加载
                    url: "/sys-permission/pagedata",
                    autoParam: ["id",]//点击节点进行异步加载时默认发送参数
                },
                edit: {
                    enable: true,
                    editNameSelectAll: true,
                    //showRemoveBtn: showRemoveBtn, //是否显示删除按钮
                    //showRenameBtn: showRenameBtn //是否显示编辑按钮
                },
                data:{
                    simpleData:{
                        enable:true
                    },
                    key:{
                        name: "pName",
                        children: "childrens"
                    }
                },
                callback: {
                    beforeDrag: beforeDrag,
                    beforeDrop:beforeDrop,
                    beforeEditName: beforeEditName,
                    beforeRename: beforeRename,
                    beforeRemove: beforeRemove,
                    onAsyncSuccess: zTreeOnAsyncSuccess,
                    onRemove: onRemove,
                    onRename: onRename,
                    onDblClick:zTreeOnDblClick
                }
            };
            $.fn.zTree.init($("#treeDemo"), setting);
        });

        var log, className = "dark";

        function beforeDrag(treeId, treeNodes) {
            for (var i=0,l=treeNodes.length; i<l; i++) {
                if (treeNodes[i].drag === false) {
                    return false;
                }
            }
            return true;
        }
        //双击事件
        function zTreeOnDblClick(event, treeId, treeNode) {
            var treeObj = $.fn.zTree.getZTreeObj("tree");
            treeObj.selectNode(treeNode).setEditable(true);
        }
        //拖动操作
        function beforeDrop(treeId, treeNodes, targetNode, moveType) {
            if("${fun_dragChildToNewPrarent}"){
                $.ajax({
                    type:"POST",
                    url:"<%=path%>/fun/dragChildToNewPrarent.do",
                    async : true,
                    data : {
                        childId:treeNodes[0].id,
                        parentId:targetNode.id
                    },
                    cache: false,
                    success:function(result){
                        if(result){
                            layer.msg("拖拽保存成功");
                            return targetNode ? targetNode.drop !== false : true;
                        } else {
                            layer.msg("拖拽保存失败");
                            return false;
                        }
                    }

                });
            }
            //return targetNode ? targetNode.drop !== false : true;
        }
        //修改功能结点
        function beforeEditName(treeId, treeNode) {
            className = (className === "dark" ? "":"dark");
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.selectNode(treeNode);
            if("${fun_updateFunction}"){
                var url="<%=path%>/fun/toAddOrUpdateFunction.do?mode=<%=Const.MODE_UPDATE%>&id="+treeNode.id;
                function_add("修改功能",url,"600px","510px",treeNode);
            }else {
                layer.msg("没有权限添加,请联系管理员");
            }
            return false;
        }
        //删除功能结点
        function beforeRemove(treeId, treeNode) {
            if(treeNode.isParent){
                layer.msg("当前节点是父节点不可以直接删除");
                return true;
            } else {
                if("${fun_deleteFunction}"){
                    //删除结点
                    function_del(treeNode);
                    return true;
                }else {
                    layer.msg("没有权限添加,请联系管理员");
                    return false;
                }

            }
        }
        function onRemove(e, treeId, treeNode) {

        }
        function beforeRename(treeId, treeNode, newName, isCancel) {
            className = (className === "dark" ? "":"dark");
            showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" beforeRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
            if (newName.length == 0) {
                setTimeout(function() {

                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.cancelEditName();
                    alert("节点名称不能为空.");
                }, 0);
                return false;
            }
            return true;
        }
        function onRename(e, treeId, treeNode, isCancel) {

        }
        function showRemoveBtn(treeId, treeNode) {
            //return !treeNode.isFirstNode;
        }
        function showRenameBtn(treeId, treeNode) {
            //return !treeNode.isLastNode;
        }

        function ajaxGetNodes(treeNode, reloadType) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            if (reloadType == "refresh") {
                //treeNode.icon = "../../../css/zTreeStyle/img/loading.gif";
                zTree.updateNode(treeNode);
            }
            zTree.reAsyncChildNodes(treeNode, reloadType, true);
        }
        var newCount = 1;
        function addHoverDom(treeId, treeNode) {

            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='添加' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                if("${fun_addFunction}"){
                    var url="<%=path%>/fun/toAddOrUpdateFunction.do?mode=<%=Const.MODE_ADD%>&id="+treeNode.id;
                    function_add("添加功能",url,"600px","510px",treeNode);
                } else {
                    layer.msg("没有权限添加,请联系管理员");
                }
            });
        };

        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        function selectAll() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
        }

        function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            treeObj.expandAll(true);//展开所有节点
            treeObj.selectNode(treeNode);
            //refreshTree(treeNode);
        };


        /*刷新 */
        function reloadTable() {
            layer.msg("刷新成功");
            window.location.reload();
        }
        function function_add(title,url,w,h,treeNode){
            layer.open({
                type: 2,
                title: title,
                area: [w,h],
                // offset: '50px;',
                maxmin: true,
                // move: ['.xubox_border', true],
                scrollbar: true,
                content: url,
                end: function() {
                    //treeObj.reAsyncChildNodes(null, "refresh",true);
                    //treeObj.refresh();
                    //window.location.reload();
                    var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                    treeObj.selectNode(treeNode);
                }
            });
        }

        /*数据字典-删除*/
        function function_del(node){
            layer.confirm('确认要删除'+node.name+'吗？',function(index){
                // $(obj).parents("tr").remove();
                $.ajax({
                    dataType: 'json',
                    type: 'post',
                    cache: false,
                    url: '<%=path%>/fun/deleteFunction.do',
                    data: {
                        id: node.id
                    },
                    async: false,
                    success: function (data) {
                        layer.msg(data.msg);
                        // table.fnDraw();
                        window.location.reload();
                    },
                    error: function(ssd, result, status) {
                        layer.msg("失败");
                    }
                });
            });
        }
    </script>
    <style type="text/css">
        .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
    </style>
</html>