<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:bolck th:include="common/header :: header('用户管理')" />
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/home">首页</a>
            <a href="">系统管理</a>
            <a>
              <cite>用户管理</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5" onsubmit="return false">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="keyword" name="keyword"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" id="search" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加用户','/sys-user/add',600,550)"><i class="layui-icon"></i>添加</button>
                            <button class="layui-btn layui-btn-danger" data-type="resetPass"><i class="layui-icon"></i>重置密码</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="resetPass">重置密码</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="switchStatus">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|停用" lay-filter="status" {{ d.enabled == 'Y' ? 'checked' : '' }}>
    </script>
    <script type="text/javascript"  th:inline="none">
      layui.use(['laydate','table','form','element'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
        // var $ = layui.jquery;
        table.render({
           elem: '#dataTable',
           url: '/sys-user/pagedata',
           // toolbar: '',
           page: true,
           title: '用户数据表',
           height: 'full-210',
           // id: 'userData',
           cols: [[
               {field:'id',type:'checkbox',fixed:'left'},
               {field:'realName',title:'姓名',align:'center',fixed:'left'},
               {field:'employeeNo',title:'员工编号',align:'center'},
               {field:'email',title:'邮箱',align:'center'},
               {field:'city',title:'城市',align:'center'},
               {field:'mobile',title:'手机',align:'center'},
               {field:'enabled',title:'状态',align:'center',templet: '#switchStatus', unresize: true},
               {field:'createTime',title:'创建日期',align:'center'},
               {fixed:'right',title:'操作',align:'center',toolbar:'#toolBar',width:180}
           ]]
        });
          var $ = layui.$, active = {
              reload: function(){
                  var keyword = $('#keyword');
                  //执行重载
                  table.reload('dataTable', {
                      page: {
                          curr: 1 //重新从第 1 页开始
                      }
                      ,where: {
                              keyword: keyword.val()
                      }
                  }, 'data');
              },
              resetPass: function(){ //获取选中数据
                  var checkStatus = table.checkStatus('dataTable')
                      ,data = checkStatus.data;
                  if (data.length == 0) {
                        layer.alert('请先选择一行',{icon : 5});
                  }else if (data.length > 1) {
                      layer.alert('不能多选啊，只能选择一行',{icon : 5});
                  }else if(data.length == 1) {
                      $.get('/sys-user/resetpass/'+data[0].id,null,function(r) {
                          layer.alert(r.msg, {icon: r.code == '200'? 6:5});
                      })
                  }
                  // layer.alert(JSON.stringify(data));
              }
          };
          $('.layui-btn').on('click', function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });

          //监听状态操作
          form.on('switch(status)', function(data){
             // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
              var selectIfKey=data.othis;
              // 获取当前所在行
              var parentTr = selectIfKey.parents("tr");
              var switchIfNull=$(parentTr).find("td:eq(6)").text();
              alert(switchIfNull);
              // 获取当前所在行的索引
              var parentTrIndex = parentTr.attr("data-index");

              var id = this.value;
              alert(JSON.stringify(data));
              if (!data.elem.checked) {
                  //layer.confirm('确认要停用吗？',function(index){
                  xadmin.open('用户停用','/sys-user/stop/'+ id,750,550);
                  // layer.close(index);
                  // });
              } else {
                  layer.confirm('确认要启用吗？',function(index){
                      $.get('/sys-user/start/'+ id,null,function(r) {
                          layer.msg(r.msg,{icon: 5,time:1000});
                      })
                  });
              }
              return false;
             // location.reload();
          });

          // 监听工具栏
         table.on('tool(dataTable)', function(obj){
              var data = obj.data;
              if(obj.event === 'detail'){
                  layer.msg('ID：'+ data.id + ' 的查看操作');
              } else if(obj.event === 'del'){
                  layer.confirm('真的删除【 '+ data.realName + '】么?', function(index){
                      user_del(data.id);
                      layer.close(index);
                  });
              } else if(obj.event === 'edit'){
                  xadmin.open('编辑用户','/sys-user/edit/'+ data.id,600,550);
              }
          });

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function user_del(id){
          $.ajax({
              url:"/sys-user/del/" + id,
              type:"DELETE",
              contentType:"application/json",//设置请求参数类型为json字符串
              // data: {id:id},
              dataType:"json",
              success:function(r){
                  layer.msg(r.msg,{icon:1,time:1000});
                  location.reload();
              }
          });
      }
    </script>
</html>