<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <th:bolck th:include="common/header :: header('添加用户')" />
        <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}" />
        <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}">
        <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}">
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <input type="hidden" name="id" th:value="${baCustomer.id}" th:if="${baCustomer!=null}" />
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <label for="deptId" class="layui-form-label">
                                <span class="x-red">*</span>部门名称</label>
                            <div class="layui-input-inline">
<!--                                <ul id="deptId2" class="dtree" data-id="0" ></ul>-->
                                <select id="deptId" name="deptId" xm-select-radio xm-select="deptSelect" lay-filter="deptId" xm-select-max="1" lay-verify="deptId">
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="customerName" class="layui-form-label">
                                <span class="x-red">*</span>客户名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="customerName" name="customerName"  th:value="${mode.equals('update')}?${baCustomer.customerName}" required="" lay-verify="customerName" autocomplete="off"  placeholder="请输入客户名称" class="layui-input" maxlength="20">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="code" class="layui-form-label">
                                <span class="x-red">*</span>客户编号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="code" name="code" th:value="${mode.equals('update')}?${baCustomer.code}"  required="" lay-verify="code" autocomplete="off" placeholder="请输入客户编号" class="layui-input" maxlength="20">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="chief" class="layui-form-label">
                                <span class="x-red">*</span>负责人</label>
                            <div class="layui-input-inline">
                                <input type="text" id="chief" name="chief" th:value="${mode.equals('update')}?${baCustomer.chief}"  required="" lay-verify="chief" autocomplete="off" placeholder="请输入负责人" class="layui-input" maxlength="20">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="add" class="layui-form-label"></label>
                            <button class="layui-btn" id="add" th:text="${mode.equals('add')}?'增加' : '修改'" lay-filter="add" lay-submit="">增加</button>
                        </div>
                   </div>
                </form>
            </div>
        </div>
        <script th:src="@{/js/formSelects-v4.js}" type="text/javascript" charset="utf-8"></script>
        <script th:src="@{/js/customer/customer.js}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" th:inline="javascript">
            var mode=[[${mode}]];
            // 下拉多选框

            if('update'==[[${mode}]]) {
                var pIdInit = [[${baCustomer.deptId}]];
                formSelects.data('deptSelect', 'server', {
                    url: '/sys-dept/deptselect',
                    success: function(id, url, searchVal, result) {
                        formSelects.value('deptSelect', [pIdInit]);
                    }
                });
            } else{
                formSelects.data('deptSelect', 'server', {
                    url: '/sys-dept/deptselect'});
            }

            // 表单操作
            layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                form.render();
                //自定义验证规则
                form.verify({
                    deptId: function(value) {
                        if (value.length < 1) {
                            return '请选择客户所属部门';
                        }
                    },
                    customerName: function(value) {
                        if (value.length < 1) {
                            return '客户名称至少得1个字符';
                        }
                    },
                    code: function (value) {
                        if (value.length < 1) {
                            return '客户编号至少得1个字符';
                        }
                    },
                    chief: function (value) {
                        if (value.length < 1) {
                            return '客户负责人至少得1个字符';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)', function(data){

                    if("add"==mode ) {
                        $.post('/ba-customer/add',data.field,function (r) {
                            layer.alert(r.msg, {
                                    icon : r.code == 'add_200' ? 6: 5
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        });
                    } else if('update'==mode){
                        $.ajax({
                            url:"/ba-customer/update/",
                            type:"PUT",
                            data: data.field,
                            success:function(r){
                                layer.alert(r.msg, {
                                        icon : r.code == 'edit_200' ? 6: 5
                                    },
                                    function() {
                                        //关闭当前frame
                                        xadmin.close();
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                            }
                        });
                    }
                    return false;
                });

            });
        </script>
    </body>
</html>