<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:bolck th:include="common/header :: header('数据字典管理')" />
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/home">首页</a>
            <a href="">客户管理</a>
            <a>
              <cite>客户管理</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5" onsubmit="return false">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="keyword" name="keyword"  placeholder="查询客户名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" id="search" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加客户','/ba-customer/toAddorUpdate/add/0',400,350)"><i class="layui-icon"></i>添加</button>
<!--                            <button type="button" id="delete" class="layui-btn layui-btn-danger" onclick="deleteFun()" lay-demo="reload">删除</button>-->
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="switchStatus">
        <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|停用" lay-filter="status" {{ d.enabled == 'Y' ? 'checked' : '' }}>
    </script>
    <script th:src="@{/js/common/common.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript"  th:inline="none">
      layui.use(['laydate','table','form','element'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
       // var layer = layui.layer;
        // var $ = layui.jquery;
        table.render({
           elem: '#dataTable',
           url: '/ba-customer/pagedata',
           // toolbar: '',
           page: true,
           title: '时间点参数',
           height: 'full-210',
           // id: 'userData',
           cols: [[
               {field:'id',hide:true},
               {field:'customerName',title:'客户名称',align:'center',fixed:'left'},
               {field:'code',title:'客户编码',edit: 'text',align:'center'},
               {field:'chiefName',title:'负责人',edit: 'text',align:'center'},
               {field:'enabled',title:'状态',align:'center',templet: '#switchStatus', unresize: true},
               {fixed:'right',title:'操作',align:'center',toolbar:'#toolBar',width:130}
           ]]
        });

          var $ = layui.$, active = {
              reload: function(){
                  var keyword = $('#keyword');
                  //执行重载
                  table.reload('dataTable', {
                      page: {
                          curr: 1 //重新从第 1 页开始
                      }
                      ,where: {
                              keyword: keyword.val()
                      }
                  }, 'data');
              },
          };
          $('.layui-btn').on('click', function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });

          //监听状态操作
          form.on('switch(status)', function(data){
              // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
              var id = this.value;
              var obj = $(data.elem);
              var a = data.elem.checked;
              //alert(id+":"+a);
              if (!a) {
                  // 发送ajax请求，enabled停用 更新后台
                  $.ajax({
                      url:'/ba-customer/enable/stop/'+id,
                      type:'put',
                      success: function(data){
                          if("edit_200"==data.code){
                            layer.msg('停用成功', {icon: 6});
                            data.elem.checked = a;
                            layui.form.render();

                          }else {
                              data.elem.checked = !a;
                              layui.form.render();
                              layer.msg('停用失败', {icon: 5});
                          }
                     }
                  });
              } else {
                  layer.open({
                      content: '确定要启用此用户吗？'
                      ,btn: ['确定','取消']
                      ,yes: function(index){
                          // 发送ajax请求，enabled启用 更新后台
                          $.ajax({
                              url:'/ba-customer/enable/start/'+id,
                              type:'put',
                              success: function(data){
                                  if("edit_200"==data.code){
                                      layer.close(index);
                                      data.elem.checked=a;
                                      layui.form.render();
                                  } else {
                                      layer.msg('启用失败', {icon: 5});
                                  }
                              }
                          });
                      }
                      ,btn2: function(index){
                          //按钮【按钮二】的回调
                          // 发送ajax请求，enabled停用 更新后台
                          //alert("cancle:"+a);
                          data.elem.checked = !a;
                          layui.form.render();
                          layer.close(index);

                      }
                      ,cancel: function(){
                          //右上角关闭回调
                          data.elem.checked=!a;
                          layui.form.render();
                      }
                  });
              }
              return false;
          });

          // 监听工具栏
         table.on('tool(dataTable)', function(obj){
              var data = obj.data;
              if(obj.event === 'detail'){
                  layer.msg('ID：'+ data.id + ' 的查看操作');
              } else if(obj.event === 'del'){

                  layer.confirm('真的删除【 '+ data.customerName + '】么?', function(index){
                      customer_del(data.id);
                      layer.close(index);
                  });
              } else if(obj.event === 'edit'){
                  xadmin.open('编辑客户','/ba-customer/toAddorUpdate/update/'+ data.id,400,350);
              }
          });

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });


      /*-删除*/
      function customer_del(id){
          $.ajax({
              url:"/ba-customer/delete/" + id,
              type:"delete",
              //contentType:"application/json",//设置请求参数类型为json字符串
              // data: {id:id},
              //dataType:"json",
              success:function(r){
                  if("delete_200"==r.code) {
                      layer.msg('删除成功', {icon: 6});
                  } else {
                      layer.msg('删除失败', {icon: 5});
                  }
                  timeout(100);
              }
          });
      }
    </script>
</html>