<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <th:bolck th:include="common/header :: header('添加用户')" />
        <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}" />
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <input type="hidden" name="id" th:value="${baContract.id}" th:if="${baContract!=null}" />
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <label for="contractNo" class="layui-form-label">
                                <span class="x-red">*</span>合同编号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="contractNo" name="contractNo" th:readonly="${mode.equals('update')}?true" th:value="${mode.equals('update')}?${baContract.contractNo}" required="" lay-verify="contractNo" autocomplete="off"  placeholder="请输入合同编号" class="layui-input" maxlength="20">
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" id="contractNoIsExist" th:if="${mode.equals('add')}" lay-filter="contractNoIsExist" class="layui-btn layui-btn-primary layui-btn-xs">检查合同编号是否可用</button>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label for="invoiceIssuing" class="layui-form-label">
                                <span class="x-red">*</span>开票抬头</label>
                            <div class="layui-input-inline">
                                <input type="text" id="invoiceIssuing" name="invoiceIssuing" th:value="${mode.equals('update')}?${baContract.invoiceIssuing}"  required="" lay-verify="invoiceIssuing" autocomplete="off" placeholder="请输入开票抬头" class="layui-input" maxlength="20">
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label for="customerId" class="layui-form-label">
                                <span class="x-red">*</span>客户</label>

                            <div class="layui-input-inline" >
                                <select id="customerId" name="customerId" lay-filter="customerId" lay-verify="customerId" th:field="*{baContract.customerId}">
                                    <option value="0">请选择客户</option>
                                     <option th:each="baCustomer:${baCustomers}" th:value="${baCustomer.id}" th:text="${baCustomer.customerName}" >
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="baProjectGroupId" class="layui-form-label">
                                <span class="x-red">*</span>项目组</label>
                            <div class="layui-input-inline">
                                <select id="baProjectGroupId" name="baProjectGroupId" lay-filter="baProjectGroupId" lay-verify="baProjectGroupId" th:field="*{baContract.baProjectGroupId}">
                                    <option value="0">请选择项目</option>
                                    <option th:if="${mode.equals('update')}" th:each="project:${baProjectGroups}" th:value="${project.id}" th:text="${project.pgName}">
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="startTime" class="layui-form-label">
                                <span class="x-red">*</span>开始日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="startTime" id="startTime" lay-verify="startTime" lay-filter="startTime" th:value="${mode.equals('update')}?${#dates.format(baContract.startTime,'yyyy-MM-dd')}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="endTime" class="layui-form-label">
                                <span class="x-red">*</span>结束日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="endTime" id="endTime" lay-verify="endTime" lay-filter="endTime"  th:value="${mode.equals('update')}?${#dates.format(baContract.endTime,'yyyy-MM-dd')}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea name="remark" id="remark" th:text="${mode.equals('update')}?${baContract.remark}" placeholder="请输入备注内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="add" class="layui-form-label"></label>
                            <button class="layui-btn" id="add" th:text="${mode.equals('add')}?'增加' : '修改'" lay-filter="add" lay-submit="">增加</button>
                        </div>
                   </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            // 表单操作
            layui.use(['form', 'layer','jquery','laydate'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer,
                 laydate = layui.laydate;

                //日期
                laydate.render({
                    elem: '#startTime'
                });
                laydate.render({
                    elem: '#endTime'
                });
                form.render();
                //自定义验证规则
                // form.verify({
                //     contractNo: function(value) {
                //         if (value.length < 1) {
                //             return '合同编号至少得1个字符啊';
                //         }
                //     },
                //     invoiceIssuing: function (value) {
                //         if (value.length < 1) {
                //             return '开票抬头至少得1个字符啊';
                //         }
                //     },
                //     customerId: function (value) {
                //         if (value.length < 1) {
                //             return '请选择客户';
                //         }
                //     },
                //     baProjectGroupId: function (value) {
                //         if (value.length < 1) {
                //             return '请选择项目组';
                //         }
                //     },
                //     startTime: function (value) {
                //         if (value.length < 1) {
                //             return '请选择开始日期';
                //         }
                //     },endTime: function (value) {
                //         if (value.length < 1) {
                //             return '请选择结束日期';
                //         }
                //     }
                // });
                //根据选择的客户加载项目
                form.on('select(customerId)',function(data){
                    var customerId = data.value;
                    $.ajax({
                        type:'put',
                        url:'/ba-project-group/groups/'+customerId,
                        success:function(r){
                            if(r.code=='0') {
                                var groups = r.data;
                                var baProjectGroup=$("#baProjectGroupId").empty();
                                for(var i=0;i<groups.length;i++) {
                                    // alert("<option value='"+groups[i].id+"'>"+groups[i].pgName+"</option>");
                                    baProjectGroup.append("<option value='"+groups[i].id+"'>"+groups[i].pgName+"</option>");
                                }
                                form.render();
                            } else {
                                layer.msg('项目组数据加载失败',{icon:5});
                            }
                        }
                        ,error:function(r) {
                            layer.msg('项目组数据加载失败',{icon:5});
                        }
                    })
                });
                //检查合同编号是否存在
                $('#contractNoIsExist').click(function () {
                        var contractNo= $('#contractNo').val();
                        if(contractNo.trim().length==0) {
                            layer.msg('合同编号不能为空',{icon:5});
                            return false;
                        }
                    contractNoIsExist(contractNo,layer,'');
                    }
                );
                //监听提交
                form.on('submit(add)', function(data){
                    var mode=[[${mode}]];
                    if("add"==mode && contractNoIsExist($('#contractNo').val(),layer,'submit')) {
                        $.post('/ba-contract/add',data.field,function (r) {
                            layer.alert(r.msg, {
                                    icon : r.code == 'add_200' ? 6: 5
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        });
                    } else if('update'==mode){
                        $.ajax({
                            type:"put",
                            url:'/ba-contract/update',
                            data:data.field,
                            success: function(r){
                                layer.alert(r.msg, {
                                        icon : r.code == 'edit_200' ? 6: 5
                                    },
                                    function() {
                                        //关闭当前frame
                                        xadmin.close();
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                            }
                        });
                    }
                    return false;
                });

            });

            //form.render();
            // 检查邮箱是否存在
            function contractNoIsExist(contractNo, layer,mode) {
                var flag = true;
                $.ajaxSettings.async = false;
                $.get('/ba-contract/isexist/' + contractNo , null , function(r) {
                    if (r.code == 1)  {
                        flag = false;
                        layer.alert(r.msg, {icon: 5});
                    } else if (mode != 'submit' && r.code == 0) {
                        layer.alert(r.msg, {icon: 6});
                    }
                });
                $.ajaxSettings.async = true;
                return flag;
            }
        </script>
    </body>
</html>