<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.BaApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.BaApply">
        <id column="id" property="id" />
        <result column="apply_type" property="applyType" />
        <result column="apply_remark" property="applyRemark" />
        <result column="check_status" property="checkStatus" />
        <result column="apply_time" property="applyTime" />
        <result column="apply_user" property="applyUser" />
        <result column="check_user" property="checkUser" />
        <result column="check_time" property="checkTime" />
        <result column="update_password" property="updatePassword" />
        <result column="check_remark" property="checkRemark" />
    </resultMap>

    <!--加载显示列表页数据-->
    <select id="getApplyWorkAttedances" parameterType="com.settlement.co.ApplyCo" resultType="com.settlement.vo.BaApplyVo">
        select a.id as id,
            d.dic_content as applyTypeContent,
            a.apply_remark as applyRemark,
            a.check_status as checkStatus,
            a.apply_user as applyUser,
            u1.real_name as applyUserContent,
            d1.dic_content as checkStatusContent,
            u.real_name as checkUserContent,
            a.apply_time as applyTime,
            a.check_time as checkTime
            from
            (select *
                from ba_apply ba
              where 1=1
                <if test="applyCo.checkStatus != null and applyCo.checkStatus !='' ">
                    and ba.check_status=#{applyCo.checkStatus}
                </if>
                <if test="applyCo.applyDate != null and applyCo.applyDate != '' ">
                    and ba.apply_time like CONCAT('%',#{applyCo.applyDate},'%')
                </if>
        ) a
        left join sys_data_dic d on a.apply_type = d.dic_code
        left join sys_data_dic d1 on a.check_status = d1.dic_code
        left join sys_user u on a.check_user=u.id
        left join sys_user u1 on a.apply_user=u1.id
        order  by a.check_time desc,a.apply_time desc
    </select>

<!--    根据id 获得BaApplyVo-->
    <select id="getApplyVoById" parameterType="java.util.Map" resultType="com.settlement.vo.BaApplyVo">
        select a.id as id,
        d.dic_content as applyTypeContent,
        a.apply_remark as applyRemark,
        a.check_status as checkStatus,
        a.apply_user as applyUser,
        u1.real_name as applyUserContent,
        d1.dic_content as checkStatusContent,
        u.real_name as checkUserContent,
        a.apply_time as applyTime,
        a.check_time as checkTime
        from ba_apply a
        left join sys_data_dic d on a.apply_type = d.dic_code
        left join sys_data_dic d1 on a.check_status = d1.dic_code
        left join sys_user u on a.check_user=u.id
        left join sys_user u1 on a.apply_user=u1.id
        where a.id=#{id}
        order  by a.check_time desc,a.apply_time desc

    </select>
</mapper>
