<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.BaApplyAttendanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.BaApplyAttendance">
        <id column="id" property="id" />
        <result column="apply_id" property="applyId" />
        <result column="attendance_id" property="attendanceId" />
        <result column="update_status" property="updateStatus" />
        <result column="oper_time" property="operTime" />

    </resultMap>
    <!--批量插入考勤申请修改-->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ba_apply_attendance(apply_id, attendance_id,update_status,oper_time) VALUES
        <foreach collection="list" item="applyAttendance" index="index" separator=",">
            (#{applyAttendance.applyId},#{applyAttendance.attendanceId},#{applyAttendance.updateStatus},#{applyAttendance.operTime})
        </foreach>
    </insert>

</mapper>
