<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.BaCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.BaCustomer">
        <id column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="code" property="code" />
        <result column="chief" property="chief" />
        <result column="enabled" property="enabled" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!--根据用户id查询当前的客户信息和项目组-->
    <select id="getCustomerAndProjectByUserId" parameterType="java.util.Map" resultType="com.settlement.vo.BaCustomerAndProjectVo">
        select
            c.id as id,
            c.customer_name as customerName,
            c.code as code,
            pg.id as projectId,
            pg.pg_name as projectName
            from ba_customer c
            left join ba_project_group pg on c.id = pg.customer_id
            left join ba_project_group_assistant pga on pga.pg_id = pg.id
            where pg.enabled=#{enabled}
            and pga.assistant_id=#{userId}

    </select>
</mapper>
