<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.BaEmpLeavePgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.BaEmpLeavePg">
        <id column="id" property="id" />
        <result column="apply_emp_id" property="applyEmpId" />
        <result column="empId" property="empId" />
        <result column="reason" property="reason" />
        <result column="leave_pg_time" property="leavePgTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
