<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.BaProjectEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.BaProjectEmployee">
        <id column="id" property="id" />
        <result column="emp_name" property="empName" />
        <result column="code" property="code" />
        <result column="entrance_time" property="entranceTime" />
        <result column="card_no" property="cardNo" />
        <result column="place" property="place" />
        <result column="responsible_person" property="responsiblePerson" />
        <result column="rp_email" property="rpEmail" />
        <result column="send_copy_email" property="sendCopyEmail" />
        <result column="position" property="position" />
        <result column="level_mode" property="levelMode" />
        <result column="pos_level" property="posLevel" />
        <result column="price_month" property="priceMonth" />
        <result column="unit" property="unit" />
        <result column="price_day" property="priceDay" />
        <result column="claim_expense_person" property="claimExpensePerson" />
        <result column="work_attendence_person" property="workAttendencePerson" />
        <result column="salary_month" property="salaryMonth" />
        <result column="salary_day" property="salaryDay" />
        <result column="upload_rate_email" property="uploadRateEmail" />
        <result column="rate_email_filename" property="rateEmailFilename" />
        <result column="sub_status" property="subStatus" />
        <result column="pg_id" property="pgId" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="enter_status" property="enterStatus" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getNoSubmitProjectEmployeeList" parameterType="com.settlement.co.ProjectEmployeeCo" resultType="com.settlement.vo.ProjectEmployeeVo">
        SELECT
            bpm.id,
            bpm.emp_name,
            bpm.`code`,
            bpm.entrance_time,
            bpm.pos_level,
            bpm.responsible_person,
            bpm.upload_rate_email,
            bpm.send_copy_email,
            bpm.rp_email,
            bpm.rate_email_filename,
            bpm.pg_id,
            bpm.claim_expense_person,
            bpm.create_time,
            bpm.place,
            bpm.unit
        FROM
            ba_project_employee bpm
        WHERE
            bpm.del_flag = #{projectEmployeeCo.delFlag}
            and bpm.pg_id = #{projectEmployeeCo.pgId}
            and bpm.sub_status = #{projectEmployeeCo.submitStatus}
        <if test="projectEmployeeCo.keyword != null">
            and CONCAT(emp_name) like CONCAT('%',#{projectEmployeeCo.keyword},'%')
        </if>
            order by bpm.create_time
    </select>

    <update id="updateEmpSubStatusBatchById" parameterType="java.util.List">
        <foreach collection="emps" item="emp" index="index" separator=";">
            update ba_project_employee
            set
                sub_status = #{emp.subStatus}
            where id = #{emp.id}
        </foreach>
    </update>

</mapper>
