<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.SysDept">
        <id column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="chief" property="chief" />
        <result column="email" property="email" />
        <result column="enabled" property="enabled" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getSysDeptVoById" parameterType="java.util.Map" resultType="com.settlement.vo.SysDeptVo">
        select d.dept_name as parentContent,
		        d2.*
        from sys_dept d
        inner join sys_dept d2 on d.id=d2.parent_id
        where d.del_flag=#{delFlag}
              and d2.id=#{id}
              and d.enabled=#{enabled}

    </select>

    <!--根据部门id下的角色获得用户-->
    <select id="getDeptRoleUsers" parameterType="java.util.Map" resultType="com.settlement.vo.SysDeptRoleUserVo">

        select
            d.id as deptId
            ,d.dept_name
            ,u.id as userId
            ,u.real_name as userRealName
            ,r.id as roleId
            ,r.role_cn_name as roleCnName
        from sys_dept d
        left join sys_dept_role dr on d.id = dr.dept_id
        left join sys_role r on dr.role_id = r.id
        left join sys_user u on u.dept_id = d.id and u.email=d.email
        where 1=1
        and r.role_code=#{roleId}
        and d.id=#{deptId}

    </select>
    <!--根据客户id获得所在的部门-->
    <select id="getDeptByCustomerId" parameterType="java.util.Map" resultType="com.settlement.entity.SysDept">
        select
             *
        from sys_dept d
        left join ba_dept_customer dc on d.id = dc.dept_id
        where dc.customer_id=#{customerId}
    </select>
</mapper>
