<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settlement.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.settlement.entity.SysDept">
        <id column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="chief" property="chief" />
        <result column="email" property="email" />
        <result column="enabled" property="enabled" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getSysDeptVoById" parameterType="java.util.Map" resultType="com.settlement.vo.SysDeptVo">
        select d.dept_name as parentContent,
		        d2.*
        from sys_dept d
        inner join sys_dept d2 on d.id=d2.parent_id
        where d.del_flag=#{delFlag}
              and d2.id=#{id}
              and d.enabled=#{enabled}

    </select>

</mapper>
