<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:bolck th:include="common/header :: header('项目组审核')" />
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/home">首页</a>
            <a href="">审核管理</a>
            <a>
              <cite>项目组审核</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5" onsubmit="return false">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="keyword" name="keyword"  placeholder="请输入项目组" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" id="search" data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>
                            </form>
                        </div>

                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script th:src="@{/js/common/common.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    </script>
    <script id="checkStatusTpl" type="text/html">
        {{#  if(d.checkStatusContent === '审核通过'){ }}
        <span style="color: #71C671;font-weight: bold;">{{ d.checkStatusContent }}</span>
        {{#  } else if(d.checkStatusContent === '审核未通过') { }}
        <span style="color: #EEAD0E;font-weight: bold;">{{ d.checkStatusContent }}</span>
        {{#  } else { }}
        {{ d.checkStatusContent }}
        {{#  } }}
    </script>
    <script type="text/javascript"  th:inline="javascript">
      var checkStatusPass = [[ ${PG_CHECKSTATUS_CHECK_PASS} ]];
      var checkStatusNoPass = [[ ${PG_CHECKSTATUS_CHECK_NOPASS} ]];
      layui.use(['laydate','table','form','element'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        var table = layui.table;
       // var layer = layui.layer;
        // var $ = layui.jquery;
        table.render({
           elem: '#dataTable',
           url: '/ba-project-group-check/pagedata',
           // toolbar: '',
           page: true,
           title: '项目组审核表',
           height: 'full-210',
           cols: [
                    [
                       {field:'id',title:'ID',hide:true},
                       {field:'pgName',title:'项目组',align:'center'},
                       {field:'code',title:'项目组编号',align:'center'},
                       {field:'pgCreateUser',title:'创建人',align:'center'},
                       {field:'applyTime',title:'申请日期',align:'center'},
                       {field:'checkStatus',title:'审核状态',align:'center',hide:true},
                       {field:'checkStatusContent',title:'审核状态',align:'center',templet: '#checkStatusTpl'},
                       // {field:'customerName',title:'客户',align:'center'},
                       {field:'checkUser',title:'审核人',align:'center'},
                       {field:'checkTime',title:'审核日期',align:'center'},
                       {fixed:'right',title:'操作',align:'center',toolbar:'#toolBar',width:200}
                    ]
                ],
            done: function(res,cuur,count) {

            }
        });
          var $ = layui.$, active = {
              reload: function(){
                  var keyword = $('#keyword');
                  //执行重载
                  table.reload('dataTable', {
                      page: {
                          curr: 1 //重新从第 1 页开始
                      }
                      ,where: {
                              keyword: keyword.val()
                      }
                  }, 'data');
              },
          };
          $('.layui-btn').on('click', function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });

          // 监听工具栏
         table.on('tool(dataTable)', function(obj){
              var data = obj.data;
             var checkStatus = data.checkStatus;
              if(obj.event === 'detail'){
                 //  layer.msg('ID：'+ data.id + ' 的查看操作');
                  xadmin.open('查看','/ba-project-group-check/'+ data.id,750,350);
              } else if(obj.event === 'check'){
                  if (checkStatus == checkStatusPass || checkStatus == checkStatusNoPass) {
                      layer.msg("记录处于【审核通过】或者【审核未通过】状态，不能审核",{icon:5});
                  } else {
                      xadmin.open('项目组审核','/ba-project-group-check/check/'+ data.id,750,500);
                  }
              }
          });
      });

    </script>
</html>